@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  color: #b9b9b9
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(32, 32, 32, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #6ee7b7;
  outline: 1px solid rgb(48, 48, 48);
}




@layer base{
  body{
    @apply font-body
  }

  .trans{
    @apply transition-all duration-150 ease-in
  }

  .page{
    @apply min-h-screen grid
  }

  .navlink{
    @apply font-head flex items-center p-2 m-1 rounded-r-full rounded-l-full bg-transparent transition-colors duration-300 ease-linear
  }
}


.navlink:hover {
  background-color: currentColor;  /* Fallback color */
}

.navlink:hover.bg-about, .bg-about.active {
  background-color: #f43f5e;
  color:black
}

.navlink:hover.bg-skills, .bg-skills.active {
  background-color: #f59e0b;
  color:black
}

.navlink:hover.bg-experience, .bg-experience.active {
  background-color: #10b981;
  color:black
}

.navlink:hover.bg-email, .bg-email.active {
  background-color: #8b5cf6;
  color:black
}

.navlink:hover.bg-phone, .bg-phone.active {
  background-color: #84cc16;
  color:black
}

.navlink:hover.bg-linkedin, .bg-linkedin.active {
  background-color: #0891b2;
  color:black
}
